form {
    margin: 5px;
}
.button-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.input-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

mat-form-field {
    width: 130px;
}

.header {
    visibility: collapse;
}
.table-div {
    width: 97%;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.extra-data {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: lightgrey;
    width: 97%;
}

.mat-row {
    text-align: center;
}